/*Defining stuff for ALL elements*/
*{
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*OUR MENU HEADING*/
h1{
    margin-top:140px;
    margin-bottom: 20px;
    padding:15px 0px 15px 0px;
    color: rgb(119, 119, 119);
    font-weight: 400;
    background-color: blanchedalmond;
    -webkit-box-shadow: -0.25px 0.25px 1px 1px grey;
    box-shadow: -0.25px 0.25px 1px 1px grey;
}
/*SOME DEFAULT STUFF FOR THE THREE DIVS INSIDE THE CONTAINER*/
.container-fluid section{
    background-color: blanchedalmond;
    color: black;
    box-shadow: -0.25px 0.25px 2px 2px grey;
    padding: 20px;
    margin-bottom: 30px;
}
/*RULES FOR INDIVISUAL HEADINGS SUCH AS CHICKEN ETC.*/
.container-fluid section h2{
    margin-top: -5px;
}
/*DEFAULT RULES FOR NAVIGATION BAR*/
#navigation{
    background-color: beige;
    border-radius: 0px;
    border:none;
    padding:10px;
}
/*REMOVING BOX SHADOW FROM THE NAVIGATION BAR*/
#navigation div{
    box-shadow: none;
    background-color: transparent;
}
/*REMOVING BORDER FROM THE DROPDOWN BUTTON*/
#navigation button{
    border: none;
}
/*STYLING THE BUTTON*/
#navigation button:hover{
    border-radius: 0px;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: yellowgreen;
}
#navigation button:focus{
    border-radius: 0px;
    background-color: yellowgreen;
}
/*END BUTTON STYLING*/
/*STYLING BRAND NAME "FOOD LLC"*/
#navigation #brand{
    font-size: 2.5em;
    font-weight:700;
}
#navigation #brand:hover{
    background-color: beige;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*END STYLING BRAND NAME*/
/*STYLING THE INDIVISUAL LINKS IN THE DROPDOWN*/
#navigation a:hover{
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: yellowgreen;
    box-shadow: -0.25px 0.25px 2px 2px yellowgreen;
}

#navigation li{
    padding:0px 0px 10px 0px;
    font-size: 1.8em;
}

#header-navbar{
    padding: 10px;
    margin-bottom: 10px;
}
#sushi-dropdown{
    padding-bottom: 10px;
}
#dropdown-list{
    margin-bottom: 2px;
}

#back-top {
    text-decoration: none;
}
#back-top:hover{
    text-decoration: none;
    color: yellowgreen;
    transition-duration: 200ms;
    transition-timing-function:ease-out;
    
}
